wheel==0.35.0
Flask
Jinja2
MarkupSafe
Werkzeug
click
gunicorn
itsdangerous
requests
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
tensorflow-cpu
Keras
numpy

